﻿@page
@model LoginModel

<div class="row">
    <div class="card shadow border-0 mt-4 col-10 offset-1 col-md-6 offset-md-3">
        <div class="card-header bg-primary bg-gradient ml-0 py-4 cardcssheader">
            <div class="row">
                <div class="col-12 text-center">              
                        <h4 class="py-2 text-white">LOG IN</h4>
                </div>
            </div>
        </div>
        <div class="card-body p-4 cardcssbody">
            <div class="row">
                <div class="col-12 ">
                    <div class="row">
                        <div class="col-12">
                            <section>
                                <form id="account" method="post" >
                                    <h2 class="cardcssbody">Use a local account to log in.</h2>
                                    <p >Admin Account: admin@gmail.com / Dung@123</p>
                                    <hr />
                                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                    <div class="form-floating mb-3 ">
                                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                        <label asp-for="Input.Email" class="form-label">Email</label>
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-floating mb-3 ">
                                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                                        <label asp-for="Input.Password" class="form-label">Password</label>
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>
                                    <div class="checkbox mb-3">
                                        <label asp-for="Input.RememberMe" class="form-label">
                                            <input class="form-check-input" asp-for="Input.RememberMe" />
                                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                                        </label>
                                    </div>
                                    <div>
                                        <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary p-3 cardcssbody">Log in</button>
                                    </div>
                                    <div class="d-flex justify-content-between pt-3">
                                        <p>
                                            <a class="hovera" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                                        </p>
                                        <p>
                                            <a class="hovera" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                                        </p>
                                        <p>
                                            <a class="hovera  " id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                                        </p>
                                    </div>
                                </form>
                            </section>
                        </div>
                        <div class="col-md-12 p-3 text-center ">
                            <section>
                                <p class="divider-text d-flex pt-2">or</p>
                              

                                @{
                                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                                    {
                                        <div>
                                            <p>
                                                There are no external authentication services configured. See this  <a class="hovera" href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                                    article
                                                    about setting up this ASP.NET application to support logging in via external services
                                                </a>.
                                            </p>
                                        </div>
                                    }
                                    else
                                    {
                                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                            <div>
                                                <p>
                                                    @foreach (var provider in Model.ExternalLogins!)
                                                    {
                                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                                    }
                                                </p>
                                            </div>
                                        </form>
                                    }
                                }
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
