﻿@model ShoppingCartVM

<form method="post">
    <br />
    <div class="row">
        @*  HIGHEST LEVEL*@
        <div class="card shadow border-0 col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2  ">
            <div class="card-header bg-primary bg-gradient text-light ml-0 py-4">
                <div class="row ">
                    <div class="col-8 offset-2">
                        <h3 class="pt-2 text-white text-center">
                            Mua Ngay
                        </h3>
                    </div>

                </div>
            </div>
            <div class="card-body my-4">
                <div class="row mb-3 pb-3">
                    <div class="col-md-2 offset-md-1">
                        <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-outline-primary text-uppercase mb-5 btn-sm"><small>Continue Shopping</small></a>
                    </div>
                    <div class="col-12">

                        @*  LEFT LEFT LEFT *@
                        <div class="row border-bottom pb-3">
                            <div class=" col-6  text-center ">
                                @if (Model.ShoppingCart.Product.ProductImages != null && Model.ShoppingCart.Product.ProductImages.Count() > 0)
                                {
                                    <img src="@Model.ShoppingCart.Product.ProductImages.FirstOrDefault().ImageUrl" class="card-img-top rounded w-50" />
                                }
                                else
                                {
                                    <img src="https://placehold.co/500x600/png" class="card-img-top rounded w-75 h-50" />
                                }
                            </div>

                            @* RIGHT RIGHT RIGHT*@
                            <div class="col-6   ">
                                <p class="text-uppercase fw-semibold  text-black textheader3">@Model.ShoppingCart.Product.Title</p>

                                @* PRICE*@
                                <div class=" ">

                                    <div class="fw-semibold text-dark textheader2 ">
                                        <input hidden name="productId" value="@Model.ShoppingCart.ProductId" />
                                        <span class="price-Model "> @Model.ShoppingCart.Price.ToString("N0") $ </span>
                                        <span class="text-muted ">&nbsp;x&nbsp;</span>
                                        <span class="model-count ">
                                            <input type="number" name="count" value="@Model.ShoppingCart.Count" style="width:40px;background-color:white;border:none;color:black" />
                                        </span>
                                    </div>
                                </div>

                                @* Tăng giảm*@

                                <div class="pr-5  mt-2">
                                    <a class="btn btn-outline-primary bg-gradient  plus-button">
                                        <i class="fa-regular fa-square-plus"></i>
                                    </a>
                                    <a class="btn btn-outline-primary bg-gradient  minus-button">
                                        <i class="fa-regular fa-square-minus"></i>
                                    </a>
                                    <a asp-action="Index" class="btn btn-outline-danger bg-gradient   ">
                                        <i class="fa-regular fa-trash-can"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer bg-white border-0">
                            <div class="row">
                                <div class="col-md-8 offset-md-2">
                                    <ul class="list-group mb-4">
                                        <li class="d-flex justify-content-between align-Model.ShoppingCarts-center ">
                                            <p class=" fw-semibold text-dark text-uppercase textheader3"> Tptal :</p>
                                            <p class=" fw-bolder text-dark textheader3">   <span class="total-price"></span></p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 offset-md-4">
                                    <button type="submit"
                                            asp-action="Summary" asp-controller="Cart"
                                            id="buyNowButton" class="btn btn-primary border-0 bg-gradient w-100 pt-2 textheader2">
                                        <h6>Pay Now</h6>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</form>


@section Scripts{
    <script>

        $(document).ready(function () {

            function updateTotalPrice() {
                var countInput = $("input[name='count']");
                var price = parseFloat($(".price-Model").text().replace(/\D/g, "")); // Lấy giá trị Price từ class price-Model
                var countValue = parseInt(countInput.val());
                var totalPrice = price * countValue;

                $(".total-price").text(totalPrice.toLocaleString("en-US") + " $");
            }

            $(".plus-button").click(function () {
                var countInput = $(this).parent().siblings().find("input[name='count']");
                var countValue = parseInt(countInput.val());

                countInput.val(countValue + 1);
                updateTotalPrice();
            });

            $(".minus-button").click(function () {
                var countInput = $(this).parent().siblings().find("input[name='count']");
                var countValue = parseInt(countInput.val());

                if (countValue > 1) {
                    countInput.val(countValue - 1);
                    updateTotalPrice();
                }
            });

            updateTotalPrice(); // Cập nhật giá trị ban đầu khi trang tải
        });


    </script>

}







